<!DOCTYPE html>
<html>
<head>
    <title>Leaderboard</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Top Players</h1>
        <div class="leaderboard">
            <% users.forEach((user, index) => { %>
                <div class="player-row">
                    <span class="rank">#<%= index + 1 %></span>
                    <span class="username"><%= user.username %></span>
                    <span class="score"><%= user.score %></span>
                </div>
            <% }) %>
        </div>
    </div>
</body>
</html>